
.catalog__wrapper {
  max-width: 1050px;
  margin-top: 13px;
  margin-bottom: 30px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    margin-bottom: 54px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-bottom: 57px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.catalog__item {
  border: 1px solid @grey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: 580px) and (max-width: 767px) {
    max-width: 520px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) and (max-width: 1149px) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover {
    box-shadow: 0  6px  10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0  3px  5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__item:not(:last-child) {
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) and (max-width: 1149px) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 45px;
  }
}

.catalog__title {
  .text-size(17px; 24px; 700);
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.catalog__link {
  .link-decoration(#000000);
  display: block;
  margin: 0;
  padding: 0;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.catalog__options {
  .text-size(13px; 30px; 400);
  color: @graphite;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    margin-bottom: auto;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 12px;
  }
}

.catalog__description {
  text-align: left;
  padding-top: 23px;
  margin: 0 28px;

  @media (min-width: @tablet-width) {
    flex-grow: 2;
    margin: 0 34px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding-top: 20px;
  }
}

.catalog__description-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid @grey;
  padding-top: 21px;
  padding-bottom: 23px;
}

.catalog__price {
  .text-size(15px; 24px; 700);
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.catalog__icon {
  fill: #000000;
  opacity: 0.2;
}

.catalog__button {
  position: relative;
  text-decoration: none;

  &:hover .catalog__icon {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active .catalog__icon {
    opacity: 0.2;
    fill: #63d1bb;
  }
}
