
.catalog__wrapper {
  max-width: 1150px;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 54px;
    padding: 0 50px;
  }

  /*@media (min-width: @desktop-width) {

  }*/
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.catalog__item {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;*/

  @media (min-width: @tablet-width) and (max-width: 1149px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 50px;
  }
}

.catalog__photo {
  text-align: center;
}

.catalog__title {
  .text-size(17px; 24px; 700);
  margin: 0;
  padding: 0;
  max-width: 200px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.catalog__link {
  .link-decoration(#000000);
  display: block;
  margin: 0;
  padding: 0;
}

.catalog__options {
  .text-size(13px; 30px; 400);
  color: @graphite;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.catalog__description {
  border: 1px solid @grey;
  padding-top: 20px;

  @media (min-width: @tablet-width) and (max-width: 1149px) {
    padding-left: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*@media (min-width: @desktop-width) {

  }*/
}

.catalog__description-price {
  display: flex;
  justify-content: space-between;
}

.catalog__price {
  .text-size(15px; 24px; 700);
  margin: 0;
  padding: 0;
}

.catalog__button {
  text-decoration: none;
}
