.contacts {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 50px;
    margin-bottom: 70px;
  }
}

.contacts__container {
  @media (min-width: @desktop-width) {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 50%;
    margin: 0 auto;
    max-width: 1050px;
  }
}

.contacts__container-inner {
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) and (max-width: 1149px) {
    padding: 0 50px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/flag.svg");
      top: 0;
      right: 50px;
      width: 47px;
      height: 81px;

      @media (min-width: @desktop-width) {
        top: 40px;
        left: 60px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    grid-column: 1;
    padding-left: 175px;
    padding-top: 60px;
  }
}

.contacts__title {
  .text-size(18px; 30px; 700);
  color: #000000;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    .text-size(43px; 50px; 700);
    padding-top: 20px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    .text-size(53px; 57px; 700);
    grid-row: 1;
  }
}

.contacts__list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
  }
}

.contacts__item {
  @media (min-width: @tablet-width) and (max-width: 1149px) {
    width: 50%;
    display: inline-block;
  }
}

.contacts__item:nth-child(2) {
  @media (min-width: @tablet-width) and (max-width: 1149px) {
    float: right;
  }
}

.contacts__text {
  white-space: nowrap;
  vertical-align: top;
  .text-size(14px; 30px; 400);
  color: @graphite;

  &--name {
    padding-right: 35px;
    height: 60px;

    @media (min-width: @tablet-width) {
      padding-right: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    .text-size(17px; 30px; 400);
  }
}

.contacts__link {
  .link-decoration(#444444);
  .text-size(14px; 30px; 400);
  border-bottom: 1px solid #6ad1ba;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    .text-size(17px; 30px; 400);
  }
}

.contacts__write {
  margin: auto;
  text-decoration: none;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    margin-left: 175px;
    margin-bottom: -20px;
  }
}

.contacts__map {
  margin: auto;
  box-sizing: content-box;
  min-width: 320px;
  height: 454px;
  margin-bottom: 40px;
  background: url("../img/map-tablet@1x.png") no-repeat 50% 0;

  @media (min-width: @tablet-width) {
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 525px;
    grid-column: 2;
    grid-row: ~"1 / 5";
  }
}
