.featured {
  &__wrapper {
    padding: 0 30px;
  }

  &__title {
    .text-size(25px; 30px; 700);
  }

  &__label {
    .text-size(17px; 20px; 700);
    font-style: normal;
    text-transform: uppercase;
    color: #63d1bb;
  }
}

.description {
  &__text {
    .text-size(15px; 24px; 400);
    color: #444444;
  }

  &__list {
    .text-size(15px; 24px; 400);
    color: #444444;
  }

  &__price {
    .text-size(17px; 24px; 700);
    color: red;
  }
}
