.order__wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 50px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.order__message {
  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 225px;
  }
}

.order-text {
  .text-size(13px; 24px; 400);
  color: @graphite;

  @media (min-width: @tablet-width) {
    .text-size(17px; 30px; 400);
  }
}

.form__bar {
  &--color,
  &--email,
  &--phone {
    @media (min-width: @tablet-width) {
      background-color: #f1f1f1;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 100px;
  }
}

.form__group {
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.form__group--color {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
  }
}

.form__group--phone {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

.form__group--email {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
    padding-top: 10px;
  }
}

.form__input--email,
.form__input--phone {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    text-align: left;
    width: 100%;
    padding-left: 100px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    align-self: center;
  }
}

.form__list--color {
  //column-width: 250px;

  @media (min-width: @tablet-width) {
    //padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form__item:not(:last-child) {
  margin-bottom: 23px;
}

.form__title {
  .text-size(17px; 16px; 700);
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    display: inline-block;
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    width: 75%;
    background-color: #62d1ba;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.form__item--name {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form__label {
  position: relative;
  .text-size(17px; 18px; 700);
  color: #000000;
  cursor: pointer;
  white-space: nowrap;

  &--type {
    margin-left: 50px;
  }

  &--color {
    margin-left: 50px;
  }

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}

.form__label--name {
  @media (min-width: @tablet-width) {
    margin-right: 24px;
    display: inline-block;
  }
}

.form__input {
  display: block;
  width: 100%;

  &--type + .form__label--type::before {
    content: "";
    position: absolute;
    left: -49px;
    top: -8px;
    width: 36px;
    height: 36px;
    border: 2px solid @graphite;
    border-radius: 50%;
  }

  &--type:checked + .form__label--type::after {
    content: "";
    position: absolute;
    left: -37px;
    top: 4px;
    width: 16px;
    height: 16px;
    background-color: #62d1ba;
    border: none;
    border-radius: 50%;
  }

  &--color + .form__label--color::before {
    content: "";
    position: absolute;
    left: -48px;
    top: -9px;
    width: 34px;
    height: 34px;
    border: 2px solid @graphite;
  }

  &--color:checked + .form__label--color::after {
    content: "";
    position: absolute;
    left: -34px;
    top: -6px;
    width: 10px;
    height: 24px;
    border: solid @graphite;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &--name,
  &--phone,
  &--email {
    border: solid #000000;
    border-width: 0 0 2px 0;
    padding-bottom: 17px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.form__group-submit {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__button {
  outline: none;
  background-color: #ffffff;
  .text-size(17px; 16px; 700);
  font-family: "Open Sans", "Arial", sans-serif;
}


.form-message {
  .text-size(14px; 16px; 400);
  font-style: normal;
  color: @graphite;
}
