.modal-order__wrapper {
  display: none;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.modal-order__window {
  width: 320px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  .center(30px);

  @media (min-width: @tablet-width) {
    .center(110px);
  }
}

.modal-order__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  margin-bottom: 31px;
}

.modal-order__title {
  .text-size(25px; 30px; 700);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 28px;
}

.modal-order__text {
  .text-size(15px; 30px; 400);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.modal-order__label {
  width: 31%;
  .text-size(17px; 16px; 700);
  border: 2px solid rgba(68, 68, 68, 0.1);
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 7px;
  }

  &:hover {
    border-color: @graphite;
  }
}

.modal-order__input:checked + .modal-order__label {
  border-color: #63d1bb;
}

.modal-order__input:focus + .modal-order__label {
  border-color: #63d1bb;
}

.modal-order__add {
  width: 100%;
  height: 52px;
  background-color: #63d1bb;
  margin-bottom: 46px;
  text-transform: uppercase;
  color: #ffffff;
  .text-size(17px; 16px; 700);
  border: none;
}

.modal-order__open {
  display: block;
}
