.page-header {
  margin-bottom: 31px;
}

.page-header__index {
  background: url("../img/hero-mobile1.jpg") no-repeat 0 378px;
}

.page_header__top {
  padding: 30px 30px;
}

/*.page-header__logo {
  text-align: center;
}*/

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .text-size (19px; 24px; 700);
}

.product-list__link {
  display: block;
  .link-decoration(#ffffff);
  padding: 24px 160px 31px 30px;
}

.product-list__item--interior {
  background-color: #63d1bb;
}

.product-list__item--toys {
  background-color: #56c3b2;
}
