.reviews {
  margin-bottom: 38px;
  padding-bottom: 45px;
  background-image: url("../img/zigzag-line.svg");
  background-position: bottom left;
  background-repeat: repeat-x;
  background-size: contain;

  @media (min-width: @tablet-width) and (max-width: 1149px) {
    background: url("../img/review2.png") no-repeat top left,
      url("../img/zigzag-line.svg") repeat-x bottom left / contain;
    margin-bottom: 46px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
    padding: 0 50px;
    background: none;
  }
}

.reviews__wrapper {
  box-sizing: border-box;
  padding: 0 30px;

  @media (min-width: @tablet-width) and (max-width: 1149px) {
    padding: 0 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    max-width: 1050px;
    padding-bottom: 170px;
    background: url("../img/review2.png") no-repeat 0 0,
      url("../img/zigzag-line.svg") repeat-x bottom left / contain;

    margin: auto;
  }
}

.reviews__slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    .desktop-indent();
  }
}

.reviews__title {
  @media (min-width: @tablet-width) {
    padding-top: 80px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.reviews__item {
  display: none;

  &--current {
    display: block;
  }
}

.reviews__text {
  .text-size(15px; 30px; 400);
  color: @graphite;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 30px;
    margin-bottom: 44px;
  }
}

.reviews__user {
  color: @graphite;
  margin: 0;
  padding: 0;

  &--name {
    .text-size(17px; 24px; 700);
  }

  &--nickname {
    .text-size(17px; 30px; 400);
  }
}

.reviews__link {
  text-decoration: none;
  align-self: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 175px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 80px;
  }
}

.reviews__arrows {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 13px;
  margin-bottom: 25px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 130px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.reviews__arrow {
  border: 1px solid @grey;
  background: none;
  width: 100%;
  height: 52px;

  @media (min-width: @tablet-width) {
    .button-reset();
    min-width: auto;
    height: auto;
  }
}
