
.text-size (@font-size; @line-height; @font-weight) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}


.link-decoration(@color) {
  text-decoration: none;
  color: @color;
}
